<p id="notice"><%= notice %></p>

<p>
  <b>Tprof profissional:</b>
  <%= @te.tprof_profissional_id %>
</p>

<p>
  <b>Tprof responsavel:</b>
  <%= @te.tprof_responsavel_id %>
</p>

<p>
  <b>Tta:</b>
  <%= @te.tta_id %>
</p>

<p>
  <b>Top:</b>
  <%= @te.top_id %>
</p>

<p>
  <b>Ttac:</b>
  <%= @te.ttac_id %>
</p>

<p>
  <b>Te01 num seq:</b>
  <%= @te.te01_num_seq %>
</p>

<p>
  <b>Te03 data execucao:</b>
  <%= @te.te03_data_execucao %>
</p>

<p>
  <b>Te04 horario inicio execucao:</b>
  <%= @te.te04_horario_inicio_execucao %>
</p>

<p>
  <b>Te05 horario fim execucao:</b>
  <%= @te.te05_horario_fim_execucao %>
</p>

<p>
  <b>Te06 observacoes:</b>
  <%= @te.te06_observacoes %>
</p>

<p>
  <b>Te07 num atendimentos:</b>
  <%= @te.te07_num_atendimentos %>
</p>


<%= link_to 'Edit', edit_te_path(@te) %> |
<%= link_to 'Back', tes_path %>
